body{
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
  margin: 0;
  padding: 0;
}

/*-------------------HEADER-----------------*/

header{
  /*padding: 2px 0;*/
}

header ul{
  margin:0;
  margin-bottom:15px;
  padding:10px;
}

header li{
  list-style-type: none;
  float: left;
  margin: 0;
  padding-left: 5px;
  padding-right: 25px;
}

header li a{
  color:#7D7D7D;
  text-decoration: none;
}

header li a:hover{
  color:black;
}


/*-------------------BANNER-----------------*/

.banner{
  text-align: center;
  padding: 60px 0;
  background-image: url('../images/banner.jpg');
  margin-bottom: 50px;
}

.banner p{
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px black;
}



/*-------------------CONTAINER-----------------*/

.container{
  max-width: 980px;
  margin:0 auto;
}

/*-------------------BOXES-----------------*/

.boxes{
  margin-bottom: 100px;
  overflow: hidden;
}

.box{
  margin:0 10px 20px;
  text-align: center;
}

.type{
  padding:25px 0 35px;
  color:white;
  line-height: 2em;
}

.type h1{
  font-size: 6em;
  margin:35px 0;
  font-weight: 200;
}

.type h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .3em;
}

.type p{
  text-transform: uppercase;
  opacity: .5;
  font-size: 1em;
}

.box ul{
  border: 1px solid lightgrey;
}

.box li{
  list-style-type: none;
  padding: 13px 0;
  background-color: #F7F7F7;
  border-bottom: 1px solid lightgrey;
  color:#7D7D7D;
}

.box button{
  margin: 20px 0;
  padding: 8px 15px;
  border-radius: 50px;
  box-shadow: none;
  border:1px solid lightgrey;
  cursor:pointer;
  outline:none;
  background-color: white;
  font-weight: bold;
}

.green{
  background-color: #519251;
}

.blue{
  background-color: #2c4985;
}

.black{
  background-color: black;
}


/*-------------------INFO-----------------*/
.details {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
}

.info{
  padding: 0 40px;
  margin-bottom: 50px;
}

.info h3{
  text-transform: uppercase;
  letter-spacing: .25em;
  font-weight: 400;
  margin-bottom: 15px;
}

.info p{
  line-height: 1.5em;
  color: grey;
}


/*-------------------FOOTER-----------------*/

footer{
  background-color:black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px 5%;
  line-height: 1.5em;
  clear: both;
}

footer p{
  color: grey;
}

footer a{
  color: white;
}



/*------------------Media Query------------------*/

@media (min-width:479px) {
  .banner{
    padding: 140px 0;
  }

  .banner p{
    font-size: 3em;
  }
}

@media (min-width:768px) {
  .boxes{
    display: flex;
    justify-content:center;
  }

  .box{
    float: left;
    width: 33.333%;
    box-sizing: border-box;
  }

  .info{
    float: left;
    width: 50%;
    box-sizing: border-box;
  }

}

/*@media (min-width:979px) {

}*/
